@font-face {
  font-family: "Pixel Digivolve";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Pixel-Digivolve.otf");
}

@font-face {
  font-family: "Pixel Digivolve Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Pixel-Digivolve-Italic.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Pixel Digivolve", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/background.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar input {
  height: 30px;
  width: 250px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.digimon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Armor {
  color: #939193;
}

.Champion {
  color: #006400;
}

.Fresh {
  color: #b45f74;
}

.In.Training {
  color: #6c2e53;
}

.Mega {
  color: #990005;
}

.Rookie {
  color: #0d5788;
}

.Training {
  color: #6c2e53;
}

.Ultimate {
  color: #b2661a;
}

.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  min-width: 200px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.3);
}
.thumb-container img {
  width: 120px;
  height: 120px;
}
.thumb-container small {
  text-transform: capitalize;
}

h3 {
  font-family: "Pixel Digivolve";
  font-size: medium;
  margin-bottom: 0.2rem;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
