@font-face {
  font-family: "Pixel Digivolve";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Pixel-Digivolve.otf");
}

@font-face {
  font-family: "Pixel Digivolve Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Pixel-Digivolve-Italic.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Pixel Digivolve", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/background.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  height: 30px;
  width: 270px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.digimon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Adult {
  color: #7209b7;
}

.Armor {
  color: #939193;
}

.Champion {
  color: #006400;
}

.Child {
  color: #006400;
}

.Fresh {
  color: #b45f74;
}

.Hybrid {
  background: linear-gradient(to right, #b45f74, #5f74b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.In.Training {
  color: #6c2e53;
}

.Mega {
  color: #990005;
}

.Rookie {
  color: #0d5788;
}

.Training {
  color: #6c2e53;
}

.Unknown {
  color: #33415c;
}

.Ultimate {
  color: #b2661a;
}

.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  width: 200px; 
  height: 200px; 
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.3);
}
.thumb-container img {
  width: 120px;
  height: 120px;
}
.thumb-container small {
  text-transform: capitalize;
}

h3 {
  font-family: "Pixel Digivolve";
  font-size: medium;
  margin-bottom: 0.2rem;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Adicione estas regras de estilo ao seu arquivo CSS ou ao estilo inline */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Animação da cor de fundo */
}

.pagination button:hover {
  background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}

.pagination span {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Cor do número da página */
}

.pagination button.disabled {
  background-color: #ccc; /* Cor de fundo cinza */
  color: #999; /* Cor do texto cinza */
  cursor: not-allowed; /* Altera o cursor para "não permitido" */
  pointer-events: none; /* Desativa eventos de clique */
}

.spinner {
  width: 25px;
  height: 25px;
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite; 
  margin: 0 auto; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
