.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 1.2em;
  margin-bottom: 2em;
  background-color: #f4a261;
  color: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  font-family: "Pixel Digivolve";
  margin-left: 0.5em;
}

.link_items {
  display: flex;
  list-style: none;
}

.link_items li {
  margin-right: 1.3em;
}

.link_items a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  transition: 0.4s;
  border-bottom: 2px solid transparent;
}

.link_items a:hover {
  border-color: #fff;
}
