@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 1.2em;
  margin-bottom: 1em;
  background-color: #015c96;
  color: #fff;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: "Pixel Digivolve";
      margin-left: 0.5em;
    }
  }

  .link_items {
    display: flex;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;

    li {
      margin-right: 1.3em;

      a {
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        transition: 0.4s;

        &:hover {
          color: #ffa500;
        }
      }
    }
  }
}
